ECCodeChallenge/ECCodeChallenge.xcodeproj/project.xcworkspace/xcuserdata/aimecham.xcuserdatad/UserInterfaceState.xcuserstate
ECCodeChallenge/ECCodeChallenge.xcodeproj/project.xcworkspace/xcshareddata/ECCodeChallenge.xccheckout
